/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
    

/*'https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:ital,wght@1,200&display=swap'); 


 Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador. 
*/

/* Reset probando cabios */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    /*interlineado importante es (.) no (,))*/
    line-height: 1.2;
    background-color: #fffdfd;
    color: #8b5c3b;
}

ul {
    /* Para quitar los puntos a los items de listas*/
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

a.cv {
   
    background-color: #dba589;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;

}


a.cv:hover {
    
    background-color: transparent;
    color: #af5b2a;
    /*para que tome bien el hover tiene que estar llamdo correctamente ( */
    border: 2px solid rgba(233, 36, 14, 0.76);

    transition: background-color 0, 3s; 
}

h1 {
    
    font-size:  36px;
    text-align: center;
}

h2 {
    font-size: 28px;
}
p  {
    line-height: 1.6;
    font-size: 18px;
    margin: 20px 0;
    
}

/* Responsive */
img {max-width: 100%;}

.logo {
    width: 100px;
}

.Ivi {
    max-width: 300px;
    border-radius: 50%;
    border: solid #e96268;
    margin-bottom: 20px;
    /*margin: 50px;
    float: left;*/
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 90px;
    background-color: #FAEBEB;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;

}

#menu-button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

img#close-menu {
    display: none;
}

.logo {
    width: 100px;
}

/* 
Para que los enlaces hereden el color de texto y no tengan subrayado

MENU DE NAVEGACION*/

nav {
    display: none;
}

ul#menu {
    display: flex;
    font-size: 20px;
}
 /*porque no reconoce cuando se pasa el mause :( */
li.menu-item a {
    padding: 16px;
    display: inline-block;

}
/* Agrego estilos para el .menu-item.active*/

li.menu-item :hover, li.menu-item.active
{
    background-color:  #dba589;;
    transition: background-color 0, 3s;   
    color: #fbfbfb;
}

/* Estilos para menu mobile */
body.mobile-menu-active {
	overflow: hidden;
}

body.mobile-menu-active img#close-menu {
	display: block;
}

body.mobile-menu-active img#open-menu {
	display: none;
}

body.mobile-menu-active header {
	height: 100vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.3s;
}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
	height: 50%;
}

body.mobile-menu-active ul#menu {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
   /* padding: 120px;*/
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
   /* padding: 16px;  solucionarlo con un max-with*/ 
    min-height: 100vh;
    padding-top: 120px;
}
/* Sección Inicio */
section#inicio {
    justify-content: space-around;
    flex-direction: column;
}


figure.Ivi{
    margin-bottom: 20px;

}

figure.Ivi img
{
    border-radius: 50px;
    width: 400px;
}

article.Ivi{
    width: 100%;
}

/* Sección Contacto */

section #contacto p {
    text-align: center;
    max-width: 600px;

}

article#hablemos {
    
    background-color:  #CFC2C2;
    color: #fbfbfb;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  
}


#redes-sociales  {
    display: flex;
    margin-top: 20px;
}

#redes-sociales a img {

    display: inline-block;
    border-radius: 5px;
    margin: 16px;
    padding: 8px;
}

.redes a :hover {
    background-color: #CFC2C2;
    transition: background-color 0.3s;
}

#Logo {

    width: 80px;

}
 
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #b98063;
    color: #fff;
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
    }

    h2 {
        font-size: 32px;
    }

    section#inicio {
        flex-direction: row;
        margin-left: 20px ;
    }

    article#texto1 {
        width: 50%;
        margin-left:20px;
    }

    article.Ivi {
        width: 50%;
    }

    article#hablemos{
        max-width: 50%;

    }
    .redes {
        margin: 32px;
    }

     /* Para resolver conflictos por menú mobile */
     #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    body.mobile-menu-active header {
		height: 90px;
		align-items: center;
	}
	body.mobile-menu-active nav {
		height: auto;
		width: auto;
	}

	body.mobile-menu-active ul#menu {
		flex-direction: row;
	}

}

/* inicio fondo animado */
#area{
    background:  #fffdfd;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;     
}

.circles{
    position:block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(181, 108, 108, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}









